body,
nav {
  background-color: white;
}
.product-page-container {
  width: 80%;
  background-color: white;
  border-radius: 18px;
  display: flex;
  margin: 0 auto;
  gap: 70px;
  padding-top: 20px;
}

.product-right,
.product-left {
  flex-direction: column;
}

.product-page-container img {
  width: 650px;
}

.product-page-container h3 {
  font-size: 4.8rem;
}

.specs {
  font-size: 1.5rem;
  border-radius: 18px;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 40px;
  width: 241px;
}

.specs p {
  margin-bottom: 3px;
}

.description {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.price {
  font-size: 1.4rem;
}

.addToBasket,
.addToBasketChoseColor {
  display: inline-block;
  background-color: #0071e3;
  border-radius: 18px;
  color: white;
  padding: 7px;
  width: 100%;
  font-size: 1.5rem;
  cursor: pointer;
}

.addToBasket {
  display: none;
}

.addToBasket.active {
  display: block;
}

.addToBasketChoseColor.disabled {
  display: none;
}

.addToBasket:hover,
.addToBasketChoseColor:hover {
  background-color: #0060c1;
  transition: all 250ms ease-in-out;
}

/* colorways */
.colorways {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.colorway {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  padding: 5px;
  display: inline-block;
  background: linear-gradient(to right, #ffffff, #ffffff);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.gradient-1 {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.gradient-2 {
  background: linear-gradient(to right, #6a11cb, #2575fc);
}

.gradient-3 {
  background: linear-gradient(to right, #ff0099, #493240);
}

.gradient-4 {
  background: linear-gradient(to right, #00c6ff, #0072ff);
}

.gradient-5 {
  background: linear-gradient(to right, #fbc2eb, #a6c0fe);
}

.colorway:hover {
  border: 2px solid black;
}

.colorMessageWarning {
  font-size: 1.4rem;
  color: red;
  margin: 10px 0;
  display: none;
}

/* Quantity */
.quantity {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 20px;
}

.quantity figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(229, 229, 229);
  color: #333;
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 250ms ease, color 250ms ease;
}

.quantity figure:hover {
  background-color: rgb(208, 208, 208);
}

.quantity-number {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  width: 40px;
  height: 30px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  margin: 0 5px;
}

/* Basket popup */
.basketPopup {
  background-color: #0071e3;
  display: flex;
  flex-direction: column;
  padding: 15px 10px 10px 10px;
  transition: transform 1000ms ease;
  text-align: center;
  border-radius: 5px;
  gap: 10px;
  position: relative;
  opacity: 0;
  width: 262px;
  left: 372px;
  top: 40px;
}

.basketPopup p {
  font-size: 1.4rem;
  color: white;
  font-weight: bolder;
}

.basketPopup p span {
  font-weight: 300;
}

.basketPopup.active {
  opacity: 1;
  animation: popupSlideIn 800ms forwards;
}

@keyframes popupSlideIn {
  0% {
    left: -50%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

.basketPopup a {
  padding: 5px 0;
  cursor: pointer;
  background-color: white;
  display: inline-block;
  font-size: 1.3rem;
  text-decoration: none;
  border-radius: 5px;
}

.basketPopup a:hover {
  background-color: rgb(233, 233, 233);
  transition: all 250ms ease-in-out;
}

/* Progress bar */
.progressBar {
  background-color: white;
  width: 100%;
  height: 5px;
  position: relative;
  overflow: hidden;
}

.progressPer {
  background-color: black;
  height: 100%;
  width: 0%;
  transition: width 8s linear;
}
